/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color:
        rgb(37, 150, 190);
}

.containerLights {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.horizontalRectangles1 {
    background: rgba(46, 42, 51, 255);
    width: 80px;
    height: 15px;
    border-radius: 10px 10px 0px 0px;
}

.verticalRectangle {
    width: 220px;
    height: 400px;
    background-color: rgba(65, 62, 71, 255);
    border-radius: 5% 5% 5% 5%;
    border: 4px inset rgba(170, 171, 170, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px;

}

.horizontalRectangles2 {
    background: rgba(46, 42, 51, 255);
    width: 80px;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
}

.stick {
    width: 20px;
    height: 210px;
    background-color: rgba(81, 77, 87, 255);

}

.lights {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(116, 114, 114, 0.242);

}

.stop {
    background: red;
}

.wait {
    background: yellow;
}

.go {
    background: green;
}

.selected { 
    box-shadow: 0 0 50px rgb(255, 255, 255);
}